<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>clang_version</key>
<string>Apple LLVM version 4.2 (clang-425.0.28) (based on LLVM 3.2svn)</string>
 <key>files</key>
 <array>
  <string>PdfFontDef.cc</string>
 </array>
 <key>diagnostics</key>
 <array>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>265</integer>
      <key>col</key><integer>12</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>265</integer>
         <key>col</key><integer>12</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>265</integer>
         <key>col</key><integer>17</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
       <array>
        <dict>
         <key>line</key><integer>265</integer>
         <key>col</key><integer>21</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>265</integer>
         <key>col</key><integer>40</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;retval&apos; during its initialization is never read</string>
     <key>message</key>
     <string>Value stored to &apos;retval&apos; during its initialization is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;retval&apos; during its initialization is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead initialization</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>LoadFontFile</string>
  <key>issue_hash</key><integer>10</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>265</integer>
   <key>col</key><integer>12</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
  <dict>
   <key>path</key>
   <array>
    <dict>
     <key>kind</key><string>event</string>
     <key>location</key>
     <dict>
      <key>line</key><integer>464</integer>
      <key>col</key><integer>24</integer>
      <key>file</key><integer>0</integer>
     </dict>
     <key>ranges</key>
     <array>
       <array>
        <dict>
         <key>line</key><integer>464</integer>
         <key>col</key><integer>24</integer>
         <key>file</key><integer>0</integer>
        </dict>
        <dict>
         <key>line</key><integer>464</integer>
         <key>col</key><integer>28</integer>
         <key>file</key><integer>0</integer>
        </dict>
       </array>
     </array>
     <key>depth</key><integer>0</integer>
     <key>extended_message</key>
     <string>Value stored to &apos;src&apos; is never read</string>
     <key>message</key>
     <string>Value stored to &apos;src&apos; is never read</string>
    </dict>
   </array>
   <key>description</key><string>Value stored to &apos;src&apos; is never read</string>
   <key>category</key><string>Dead store</string>
   <key>type</key><string>Dead increment</string>
  <key>issue_context_kind</key><string>C++ method</string>
  <key>issue_context</key><string>GetStrParam</string>
  <key>issue_hash</key><integer>18</integer>
  <key>location</key>
  <dict>
   <key>line</key><integer>464</integer>
   <key>col</key><integer>24</integer>
   <key>file</key><integer>0</integer>
  </dict>
  </dict>
 </array>
</dict>
</plist>